<!doctype html>
<html>
<head>
    <title>Error page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta name="author" content="SmartHome Ltd.">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/add-device">Add device</a></li>
            <li><a href="/show-device-status">Device status</a></li>
            <li><a href="/update-device-status">Update device</a></li>
            <li><a href="/delete-device">Delete device</a></li>
            <li><a href="/list">View devices</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </nav>
    <H1>Error page</H1>

    <H2>The error below occured when trying to process your instructions.</H2>
    <section class="error">
        <h3><%= error %></h3>
    </section>
    <h4>If the error looks like:</h4>
    <p>ER_DUP_ENTRY: Duplicate entry 'Device' for key 'devices.name'</p>
    <h4>Then probably you are trying to re-enter an existing device. Devices cannot have duplicates.</h4>
    <p>Exscuse us if you happen to have 2 Jakuzis or 3 Chromecasts.</p>
    <section class="footer-dark">
        <footer>
            <div class="container">
                <h4>SmartHome Ltd.</h4>
                <p class="copyright">Kliment Paskalev © 2022</p>
            </div>
        </footer>
    </section>
</body>
</html>