<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="<%= descr %>">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta name="author" content="SmartHome Ltd.">
</head>
<body>
  <nav>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/add-device">Add device</a></li>
        <li><a href="/show-device-status">Device status</a></li>
        <li><a href="/update-device-status">Update device</a></li>
        <li><a href="/delete-device">Delete device</a></li>
        <li><a href="/list">View devices</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
  </nav>
  <section>
    <h1><%= title %></h1>
  </section>
  <section>
    <h2><%= h2 %></h2>
  </section>
  <section>
    <p><%= p %></p>
  </section>
  <section class="footer-dark">
    <footer>
        <div class="container">
          <h4>SmartHome Ltd.</h4>
          <p class="copyright">Kliment Paskalev © 2022</p>
        </div>
    </footer>
  </section>
</body>
</html>